extends ../layout

block content
  h1= t('titleListGenre')
  if genres.length
    ul
      each genre in genres
        li
          a(href=`/genres/${genre.id}`) #{genre.name}
  else
    p= t('noGenre')
